<div class="birth">
  <div class="content">
    <p>HappyBirthDay</p>
    <p>~yusuke Yokoi~</p>
  </div>

  <div class="video-content">
    <div class="catch">
      <%=image_tag '/IMG_8201.jpeg'%>
      <p>キャッチver</p>
    </div>
    <div class="univar">
      <p>大学ver</p>
      <%=image_tag '/IMG_6366.jpeg'%>
    </div>
  </div>
</div>