ul,li {
  list-style: none;
}

.ul-cl {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.height{
  height: 6257.78px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}



